<mat-toolbar fxLayout fxLayoutAlign="end center">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight">Celula academica FISEI</span>
        </div>
        <div class="flex-1">
          <div class="flex items-center justify-end">
            <img
              src="../../../assets/icons/cerrar-sesion.png"
              alt=""
              class="rounded-full border-black border shadow-solid ml-4 h-12 w-12"
            />
          </div>
        </div>
        <div class="ml-4 text-right">
          <a
            href="#responsive-header"
            class="block mt-4 lg:inline-block lg:mt-0  hover:text-white mr-4"
            >Cerrar Sesion</a
          >
        </div>
</mat-toolbar>