<div>
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Charla</mat-label>
    <mat-select [(ngModel)]="selectedTalk" (selectionChange)="onSelectTalk($event)">
      <mat-option *ngFor="let talk of talks" [value]="talk">{{ talk.Tema_Charla }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedTalk">
    <h2>Ponentes de la Charla: {{ selectedTalk.Tema_Charla }}</h2>
    <mat-form-field appearance="fill">
      <mat-label>Seleccionar Ponente</mat-label>
      <mat-select [(ngModel)]="selectedSpeakerId">
        <mat-option *ngFor="let speaker of allSpeakers" [value]="speaker.Cedula_Ponente">
          {{ speaker.Nombre_Ponente }} {{ speaker.Apellido_Ponente }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" (click)="addSpeaker()">Agregar Ponente</button>
    <table mat-table [dataSource]="speakers" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Cedula</th>
        <td mat-cell *matCellDef="let speaker">{{ speaker.cedula }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let speaker">{{ speaker.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let speaker">{{ speaker.apellido }}</td>
      </ng-container>
      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef>Tema</th>
        <td mat-cell *matCellDef="let speaker">{{ speaker.charla }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let speaker">
          <button mat-icon-button color="accent" (click)="deleteSpeaker(speaker.cedula)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
