<body class="bg-gray-100 p-4">
    <form class="max-w-md mx-auto bg-white p-8 rounded shadow-md" [formGroup]="group" (ngSubmit)="save()">
      <h2 class="text-2xl font-bold mb-4 text-center">Edición de Ponente</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="name" class="block text-gray-700 font-bold mb-2">Nombre:</label>
          <input type="text" id="name" formControlName="name" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <div class="mb-4">
          <label for="lastName" class="block text-gray-700 font-bold mb-2">Apellido:</label>
          <input type="text" id="lastName" formControlName="lastName" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-bold mb-2">Correo electrónico:</label>
          <input type="email" id="email" formControlName="email" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <div class="mb-4">
          <label for="phone" class="block text-gray-700 font-bold mb-2">Teléfono:</label>
          <input type="text" id="phone" formControlName="phone" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>
      </div>
      <div class="mb-4">
        <label for="biography" class="block text-gray-700 font-bold mb-2">Biografía:</label>
        <textarea id="biography" formControlName="biography" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"></textarea>
      </div>
      <div class="mb-4">
        <label for="topic" class="block text-gray-700 font-bold mb-2">Tema:</label>
        <input type="text" id="topic" formControlName="topic" required class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">Guardar</button>
      <button type="button" class="w-full bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700 mt-4" (click)="closeForm()">Cerrar</button>
    </form>
  </body>
  